<div class="row">
    <div class="col">
        <h1>Community Feed</h1>
        <br>
        <div class="row" id="create">
            <div class="col">
                <button id="button-create" class="btn btn-outline-primary">Create</button>
            </div>
        </div>

        <table id="message-table" class="table table-success table-striped" style="width: 900px;">
            <!-- <tr>
                <th>Message</th>
                <th>Action</th>
            </tr> -->
        </table>
    </div>
</div>


